.urdu-heading-font {
    font-family: 'Noto Nastaliq Urdu', 'Jameel Noori Nastaleeq', 'Arial', sans-serif;
    color:  #0d7012 !important; 
}

.urdu-paragraph-font {
    font-family: 'Noto Nastaliq Urdu', 'Jameel Noori Nastaleeq', 'Arial', sans-serif;
    line-height: 2.4 !important; 
}